.navigate-button {
  border: 1px #fff solid;
  background-color: #8A8A8A80;
  color: white;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.3s, transform 0.2s;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  gap: 4px;
  padding: 4px 20px;
}

.navigate-button:hover {
  background-color: #6b6b6b;
}

.navigate-button:active {
  transform: scale(0.95);
}
