* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

canvas {
  width: 100vw;
  height: 100dvh;
}

body {
  background: #3b3a39;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100dvh;
}

.carga {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  animation: girar 1.2s linear infinite;
  position: relative;
}

.carga::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: linear-gradient(0deg, #ffffff 0%, #6b6b6b 100%);
  z-index: -1;
}

.carga::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85%;
  height: 85%;
  border-radius: 50%;
  background-color: #4c4c4c;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@keyframes girar {
  100% {
    transform: rotate(360deg);
  }
}

.menubar {
  position: absolute;
  bottom: 1rem;
  display: flex;
  gap: 5px;
  left: 50%;
  transform: translate(-50%, 0);
}

.menubar2 {
  position: absolute;
  bottom: 1rem;
  display: flex;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: opacity 0.8s ease-out;
  z-index: 11;
  padding: 0.55em 1em;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.6);
  gap: 10px;

  &.showinstructions {
    & button {
      opacity: 0.3;

      &.animatedbutton {
        display: flex;
        border: none;
        background: none;
        color: white;
        position: relative;
      }

      &.on {
        opacity: 1;
        z-index: 11;
      }
    }

    &::after {
      content: '';
      background: rgba(0, 0, 0, 0);
      position: absolute;
      z-index: 10;
      width: 100%;
      height: 100%;
    }
  }

  &.hideinstructions::after {
    display: none;
  }
}

.typo-img {
  position: absolute;
  right: 1rem;
  top: 2rem;
  cursor: pointer;

  & img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
  }
}

.loader2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
  overflow: hidden;
  transition: opacity 1s ease;
  z-index: 9999;

  & .loader-bg {
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(/images/soil_noche.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: moveBackground 20s ease-in-out infinite;
    will-change: transform;
    width: 100vw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.5); /* Color negro con 50% de opacidad */
    background-blend-mode: darken;
  }
}

@keyframes moveBackground {
  0% {
    transform: translate(0, 0) scale(1.3);
  }
  25% {
    transform: translate(20px, 20px) scale(1.4);
  }
  50% {
    transform: translate(-20px, 20px) scale(1.4);
  }
  75% {
    transform: translate(20px, -20px) scale(1.3);
  }
  100% {
    transform: translate(0, 0) scale(1.3);
  }
}

.loader2.fade-out {
  opacity: 0;
}

.sdc-watermark {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  gap: 10px;
  border-radius: 37px;
  padding: 4px 12px;
  border: #fff 2px solid;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);

  & picture {
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      width: 36px;
    }
  }

  & h2 {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
  }
}

.vista360 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  z-index: -1;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.visible {
  opacity: 1;
}

.carga2 {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  animation: girar 1.2s linear infinite;
  position: relative;
}

.carga2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: linear-gradient(0deg, #ffffff 0%, #6b6b6b 100%);
  z-index: -1;
}

.carga2::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85%;
  height: 85%;
  border-radius: 50%;
  background-color: #4c4c4c;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.loader-button {
  background-color: transparent;
  backdrop-filter: blur(3px);
  color: white;
  padding: 10px 40px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  border: #fff 1px solid;
  font-weight: 300;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.05);
  }
  &:disabled {
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      transform: scale(1);
    }
  }
  &:active {
    transform: scale(0.95);
  }
}

.button-text {
  font-size: 1.15rem;
  font-weight: 600;
  margin-left: 8px;
  font-family: 'Rossanova', sans-serif;
}

.soil-logo {
  width: 250px;
  height: auto;
  position: relative;
  top: 20px;
  opacity: 0.9;
  margin-bottom: 3em;
}

.soil-info {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background: #00000060;
  padding: 1.25rem;
  border-radius: 0 0 10px 0;
  opacity: 0;
  transition: opacity 0.8s ease-out;

  & img {
    width: 150px;
    user-select: none;
    height: auto;
  }

  & h1 {
    margin-top: 1em;
    font-size: 1.2em;
    color: #fff;
    user-select: none;
    font-family: 'Rossanova', sans-serif;
  }

  & a {
    font-size: 0.75em;
    color: #fff;
    margin-bottom: 0.3em;
    text-decoration: none;
    width: fit-content;
    user-select: none;
    font-family: 'Rossanova', sans-serif;
  }

  & span {
    font-size: 0.95em;
    color: #fff;
    cursor: pointer;
    user-select: none;
    width: fit-content;

    &:hover {
      text-decoration: underline;
    }
  }
}

.soil-info.show,
.menubar2.show {
  opacity: 1;
}

.floors-info {
  position: fixed;
  top: 1.3rem;
  right: 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 35px;
  background: #00000060;
  width: 0;
  height: 0;
  padding: 0;
  color: #fff;
  align-items: center;
  max-width: 200px;
  overflow: hidden;
  transition: padding 0.5s ease, width 0.5s ease, height 0.5s ease 0.35s;
  interpolate-size: allow-keywords;

  &.active {
    width: auto;
    height: auto;
    padding: 15px 20px;

    & .floor-name {
      opacity: 1;
    }
  }

  & .floor-name {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 0.5s ease .35s;
  }

  & .floor-details {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
}

@font-face {
  font-family: 'Rossanova';
  src: url('/fonts/Rossanova/Rossanova-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rossanova';
  src: url('/fonts/Rossanova/Rossanova-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

.copy-notification {
  background: #b6cca8;
  padding: 1em;
  color: white;
  border-radius: 10px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.loading-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 1em;
}

.loading-text {
  font-family: 'Rossanova', sans-serif;
  font-variant: small-caps;
  font-size: 25px;
  position: relative;
  color: white;

  & span {
    font-family: 'Rossanova', sans-serif;
    position: absolute;
    bottom: 0;
    margin-left: 3px;
    color: white;
  }

  & :nth-child(1) {
    animation: jump 1s ease-in-out infinite;
  }
  & :nth-child(2) {
    margin-left: 10px;
    animation: jump 1s ease-in-out infinite;
    animation-delay: 200ms;
  }
  & :nth-child(3) {
    margin-left: 17px;
    animation: jump 1s ease-in-out infinite;
    animation-delay: 400ms;
  }
}

.loading-percentage {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-variant: small-caps;
  font-size: 20px;
  color: white;
  position: relative;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-7px);
  }

  80% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

.instructions-modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);

  & .instructions-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    max-width: 480px;
    background: rgba(0, 0, 0, 0.7);
    position: relative;
    padding: 2em;
    border-radius: 50px;
    min-height: 330px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

    & > img {
      width: 50px;
      height: auto;
      position: absolute;
      top: 1.5em;
      left: 1.5em;
    }

    & h2 {
      font-size: 2.3em;
      color: #ffffff;
    }

    & p {
      font-size: 1.1em;
      color: #ffffff;
      font-family: 'Rossanova', sans-serif;
      margin-top: 1em;
      line-height: 1.2;
    }

    & .instructions-buttons {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      gap: 15px;
      margin-top: 1.5em;

      & button {
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        color: white;
        padding: 0.75em 1.5em;
        border-radius: 9999px;
        border: none;
        cursor: pointer;
        font-size: 0.8em;
        transition: transform 0.2s ease, background-color 0.3s ease;

        &:hover {
          transform: scale(1.05);
          background-color: rgba(255, 255, 255, 0.3);
        }

        &:active {
          transform: scale(1.025);
        }
      }

      & button:first-child {
        color: white;
        text-decoration: underline;
        background: transparent;
        padding: 0;
        backdrop-filter: none;
        margin-left: 20px;
      }

      & button.skipButton {
        position: absolute;
        top: 2.3em;
        right: 2.3em;
        color: white;
        text-decoration: underline;
        background: transparent;
        padding: 0;
        backdrop-filter: none;
      }
    }

    & .instructions-buttons .back-button {
      background-color: #f39c12;
      padding: 0.75em 1.5em;
      margin-right: 10px;
    }
  }
}

.inner-shadow {
  box-shadow: inset 0px 0px 30px 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  z-index: 99999;
  pointer-events: none;
}

.typo-selector {
  position: absolute;
  right: 2rem;
  top: 50%;
  padding: 0.7em 1.2em;
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #fff;
  height: 3.2rem;
  overflow: hidden;
  transition: height 0.5s ease;
  interpolate-size: allow-keywords;

  &.active {
    height: auto;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  & .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
}
