* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

canvas {
  width: 100vw;
  height: 100dvh;
}

body {
  background: #4c4c4c;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.carga {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  animation: girar 1.2s linear infinite;
  position: relative;
}

.carga::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: linear-gradient(0deg, #ffffff 0%, #6b6b6b 100%);
  z-index: -1;
}

.carga::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85%;
  height: 85%;
  border-radius: 50%;
  background-color: #4c4c4c;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@keyframes girar {
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 1s ease;
  pointer-events: none;
  z-index: 9999;
  background: #4c4c4c;
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.menubar {
  position: absolute;
  bottom: 1rem;
  display: flex;
  gap: 5px;
  left: 50%;
  transform: translate(-50%, 0);
}

.menubar2 {
  position: absolute;
  bottom: 1rem;
  display: flex;
  gap: 5px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: opacity 0.8s ease-out;
  z-index: 11;

  &.showinstructions {
    & button {
      opacity: 0.3;

      &.animatedbutton {
        display: flex;
        border: none;
        background: none;
        color: white;
        position: relative;
      }

      &.on {
        opacity: 1;
        z-index: 11;
      }
    }

    &::after {
      content: "";
      background: rgba(0, 0, 0, 0);
      position: absolute;
      z-index: 10;
      width: 100%;
      height: 100%;
    }
  }

  &.hideinstructions::after {
    display: none;
  }
}

.typo-img {
  position: absolute;
  right: 1rem;
  top: 2rem;

  & img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
  }
}

.loader2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
  transition: opacity 1s ease;
  z-index: 9999;
}

.loader2.fade-out {
  opacity: 0;
}

.vista360 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  z-index: -1;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.visible {
  opacity: 1;
}

.carga2 {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  animation: girar 1.2s linear infinite;
  position: relative;
}

.carga2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: linear-gradient(0deg, #ffffff 0%, #6b6b6b 100%);
  z-index: -1;
}

.carga2::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85%;
  height: 85%;
  border-radius: 50%;
  background-color: #4c4c4c;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.loader-button {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  color: white;
  padding: 16px 24px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
  }
  &:disabled {
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      transform: scale(1);
    }
  }
  &:active {
    transform: scale(0.95);
  }
}

.button-text {
  font-size: 1.15rem;
  font-weight: 600;
  margin-left: 8px;
  font-family: "Rossanova", sans-serif;
}

.soil-logo {
  width: 250px;
  height: auto;
  position: relative;
  top: 20px;
  opacity: 0.9;
  margin-bottom: 3em;
}

.soil-info {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background: #00000060;
  padding: 1.25rem;
  border-radius: 0 0 10px 0;
  opacity: 0;
  transition: opacity 0.8s ease-out;

  & img {
    width: 150px;
    user-select: none;
    height: auto;
  }

  & h1 {
    margin-top: 1em;
    font-size: 1.2em;
    color: #fff;
    user-select: none;
    font-family: "Rossanova", sans-serif;
  }

  & a {
    font-size: 0.75em;
    color: #fff;
    margin-bottom: 0.3em;
    text-decoration: none;
    width: fit-content;
    user-select: none;
    font-family: "Rossanova", sans-serif;
  }

  & span {
    font-size: 0.95em;
    color: #fff;
    cursor: pointer;
    user-select: none;
    width: fit-content;

    &:hover {
      text-decoration: underline;
    }
  }
}

.soil-info.show,
.menubar2.show {
  opacity: 1;
}

@font-face {
  font-family: "Rossanova";
  src: url("/fonts/Rossanova/Rossanova-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rossanova";
  src: url("/fonts/Rossanova/Rossanova-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

.copy-notification {
  background: #b6cca8;
  padding: 1em;
  color: white;
  border-radius: 10px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.loading-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 1em;
}

.loading-text {
  font-family: "Rossanova", sans-serif;
  font-variant: small-caps;
  font-size: 25px;
  position: relative;
  color: white;

  & span {
    font-family: "Rossanova", sans-serif;
    position: absolute;
    bottom: 0;
    margin-left: 3px;
    color: white;
  }

  & :nth-child(1) {
    animation: jump 1s ease-in-out infinite;
  }
  & :nth-child(2) {
    margin-left: 10px;
    animation: jump 1s ease-in-out infinite;
    animation-delay: 200ms;
  }
  & :nth-child(3) {
    margin-left: 17px;
    animation: jump 1s ease-in-out infinite;
    animation-delay: 400ms;
  }
}

.loading-percentage {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-variant: small-caps;
  font-size: 20px;
  color: white;
  position: relative;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-7px);
  }

  80% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

.instructions-modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);

  & .instructions-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    background: rgba(0, 0, 0, 0.85);
    padding: 2em;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

    & h2 {
      font-size: 2.5em;
      color: #ffffff;
    }

    & p {
      font-size: 1.1em;
      color: #ffffff;
      font-family: "Rossanova", sans-serif;
      margin-top: 1em;
      line-height: 1.2;
    }

    & .instructions-buttons {
      display: flex;
      justify-content: center;
      gap: 15px;
      margin-top: 1.5em;

      & button {
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        color: white;
        padding: 0.75em 1.5em;
        border-radius: 9999px;
        border: none;
        cursor: pointer;
        font-size: 1em;
        transition: transform 0.2s ease, background-color 0.3s ease;

        &:hover {
          transform: scale(1.05);
          background-color: rgba(255, 255, 255, 0.3);
        }

        &:active {
          transform: scale(1.025);
        }
      }

      & button:first-child {
        background-color: #4caf50;
        padding: 0.55em 1.2em;
      }

      & button:last-child {
        background-color: rgba(255, 0, 0, 0.2);
        padding: 0.55em 1.2em;
      }
    }

    & .instructions-buttons .back-button {
      background-color: #f39c12;
      padding: 0.75em 1.5em;
      margin-right: 10px;
    }
  }
}

.inner-shadow {
  box-shadow: inset 0px 0px 30px 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  z-index: 99999;
  pointer-events: none;
}
